<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
        <label>Team Name: <input type="test" name="name" /></label><br>
        <label>Coach: <input type="test" name="coach" /></label><br>
        <label>Point Guard: <input type="test" name="pg" /></label><br>
        <label>Shooting Guard: <input type="test" name="sg" /></label><br>
        <label> Small Forward: <input type="test" name="sf" /></label><br>
        <label>Power Forward: <input type="test" name="pf" /></label><br>
        <label>Center: <input type="test" name="c" /></label><br>
        <input type="submit" id="Submit" />
</form>
 </body>
</html>


