<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
   <label>Team Name: <input ></label>
 </body>
</html>


